{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Transacted</th>
        </tr>
      </thead>
      <tbody>
        {% for share in shares %}
          {% if loop.index % 2 == 1 %}
            <tr class="table-secondary">
          {% else %}
            <tr class="table-light">
          {% endif  %}
            <th scope="row">{{ share["symbol"] }}</th>
            <td>{{ share["shares"] }}</td>
            <td>{{ share["price"] }}</td>
            <td>{{ share["transtime"] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
